
@charset 'UTF-8';

//
// # Fonts
// =============================================================================

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src:
  local('Roboto'),
  local('Roboto-Regular'),
  url('fonts/roboto-v18-latin-regular.woff2') format('woff2'),
  url('fonts/roboto-v18-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src:
  local('Roboto Medium'),
  local('Roboto-Medium'),
  url('fonts/roboto-v18-latin-500.woff2') format('woff2'),
  url('fonts/roboto-v18-latin-500.woff') format('woff');
}

//
// # Variables
// =============================================================================

$white: #fff;
$black: #000;

$blue: rgb(31, 159, 223);
$cyan: rgb(31, 223, 255);

$shadow: 0 12px 24px -6px rgba($black, 0.25);
$text-shadow: 0 12px 24px rgba($black, 0.25);

$dark: rgb(23, 27, 35);

//
// # Reset
// =============================================================================
// 1. HACK: Webkit iOS: enable momentum scrolling on overflow elements
// 2. HACK: Safari: `position: fixed` changes font-smoothing

* {
  position: relative;
  margin: 0;
  padding: 0;
  border: 0;
  color: inherit;
  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  -webkit-overflow-scrolling: touch; // 1
}

*, *::after, *::before {
  box-sizing: inherit;
}

svg, table {
  width: 100%;
}

body {
  font: 400 1em/1 'Roboto', '-apple-system', BlinkMacSystemFont, sans-serif;
  background: $dark;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased; // 2
}

button {
  user-select: none;
}

//
// # Helpers
// =============================================================================

// ._material-icons {
//   font-family: 'Material Icons';
//   font-feature-settings: 'liga'; // IE
//   font-size: 24px;
//   text-rendering: optimizeLegibility; // Safari and Chrome
//   text-transform: none;
//   -webkit-font-smoothing: antialiased; // WebKit
//   -moz-osx-font-smoothing: grayscale; // Firefox
// }

//
// # Imports
// =============================================================================

//
// # Styles
// =============================================================================

.app-button {
  display: block;
  margin: auto;
  padding: 1em 3em;
  border-radius: 2em;
  color: $white;
  font-size: 1.25em;
  font-weight: 300;
  letter-spacing: 0.0625em;
  text-transform: uppercase;
  background: radial-gradient(circle at 100% 0%, $cyan, $blue);
  box-shadow: $shadow;
  animation: slide 1.75s;
}

.app-list {
  padding: 36px 1.5rem;
  font-size: 14px;
  line-height: 1.5rem;
  animation: slide 1.5s;

  li {
    padding: 3px 0;
  }
}

.app-box {
  display: flex;
  flex-flow: column;
  margin: auto;
  padding: 24px;
  color: $white;
  letter-spacing: 0.0625em;
  animation: slide 2s;

  h1 {
    margin: 0 0 12px;
    font-family: 'Roboto';
    font-size: 48px;
    font-weight: 900;
    text-shadow: $text-shadow;
    white-space: pre;
    animation: slide 1s;
  }

  h2 {
    color: $blue;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5em;
    animation: slide 1.25s;
  }
}

.app {
  display: flex;
  height: 100vh;
}

@keyframes slide {
  0% {
    transform: translateY(128px);
    opacity: 0;
  }
}

@media (min-width: 800px) {
  .app-list {
    font-size: 16px;

    li {
      padding: 6px 0;
    }
  }

  .app-box {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}
